.customize-themes{
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
  }
  
  .customize-themes .card{
    background: white;
    padding: 3rem;
    border-radius:1rem;
    width: 50%;
  }
  /* --------font size--------- */
  .customize-themes .font-size{
    margin-top: 5rem;
  }
  .customize-themes .font-size>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    padding: 1rem;
    border-radius: 30px;
  }
  .customize-themes .choose-size{
    background: rgb(200, 199, 199);
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .customize-themes .choose-size span{
    width: 1rem;
    height: 1rem;
    background:rgb(200, 199, 199) ;
    border-radius: 50%;
    cursor: pointer;
  }
  .customize-themes .choose-size span.active{
    background: purple ;
  }
  
  /* ----font-size---- */
  
  .customize-themes .color{
    margin-top: 2rem;
  }
  
  .customize-themes .choose-color{
    background: whitesmoke;
    padding: 1rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .customize-themes .choose-color span{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
  }